#start_page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}

#title{
  font-size: 48px;
  font-weight: 800;
}

#start_button{
  /* デザイン */
  border: 2px solid #222;
  background: #fff;
  margin-top: 20px;
  padding: 10px 40px;
  cursor: pointer;
  /* 文字 */
  display: grid;
  place-items: center;
  color: #222;
  border-radius: 5px;
  font-size: x-large;
}

#start_button:hover {
  background-color: #ddd;
  transition: 0.5s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: 1.5s;
}
